*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --bg-color:rgba(178, 9, 34, 0.234);
    --grey:rgb(139, 134, 134);
    --light-grey:rgb(233, 228, 228);
}
body{
    background-color:rgba(255, 0, 0, 0.471);
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}
.card{
    display:grid;
    grid-template-columns:4fr 3fr;
    min-height:500px;
    min-width:500px;
    background-color: #fbfbfb;
    border-radius:20px;
    padding:3rem 0;
    box-shadow:0 15px 30px rgba(0,0,0,0.5);
}
.image {
    position:relative;
}
.image .imgBox {
    position:relative;
    height:100%;
    width:100%;
    min-height:440px;
    background-color: black;
    border-radius:50px;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
    box-shadow:0 5px 107px rgba(0,0,0,0.5)
}
.image .imgBox img {
    height:100%;
    position:absolute;
    top:-5px;
    right:-100px;
}
.image .imageBox::before {
    content:'';
    width: 500px;
    height:20px;
    background-color: brown;
    position:absolute;
    top:0;
    right:55px;
    background-color: rgb(245, 238, 238);
    z-index:2;
}
/* PRODUCT DETAILS  */
.product-details{
    padding:0 2rem;
}
.title h1{
    margin-bottom:5px;
    color:black;
    font-size:2rem;
    font-weight:bold;
}
.title span{
    font-size:0.7rem;
    color:black;
}
.price{
    margin:1.5rem 0;
    color:black;
    font-size:3.5rem;
}
.price span{
    padding-left:10px;
    font-size:3.5rem;
}
.variant {
    overflow:hidden;
    margin:1.5rem 0;
}
.variant h3{
    margin-bottom:10px;
}
.variant ul{
    display:flex;
}
.variant ul li{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border:1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}
.variant ul li img{
    width:100%;
}
.variant li:first-child,
.variant li:hover{
    border:1px solid black;
}
.variant li:not(:first-child){
    margin-left:5px;
}
.action-btn{
    padding:20px 40px;
    border:none;
    border-radius:80px;
    font-weight:bold;
    letter-spacing: 1.5px;
    background-color:rgb(1, 1, 1);
    color:#fff;
    cursor:pointer;
    box-shadow: 0 5px 15px rgdb(0,0,0,0.5);
}
.action-btn:active{
    transform:scale(0.95);
}

